h1 {
	text-align: center;
}

.container {
	height: 300px;
	width: 608px;
	border: 2px solid black;
	margin: 0 auto;
}

.checking, .savings {
   height:300px;
   width: 300px;
   margin:0 auto;
   border: 2px solid black;
  }

 .checking, h2 {
	text-align: left;
}

.checking {
	float: left;
}

.savings {
	float: right;
}

button {
	margin: 0 0 0 10px; 
}

