
body {
	background-color: #E9D6C5;
	
}
h1 {
	text-align: center;
	text-decoration: underline;
}

.container {
	height: 300px;
	width: 608px;
	border: 2px solid black;
	margin: 0 auto;
}

.border {
	border-left-style: solid;
  border-color:#E9D6C5;
	border-width: 10px;
}

.checking, .savings {
   height:300px;
   width: 300px;
   margin:0 auto;
   border: 2px solid black;
  }


.checking {
	float: left;
}

.savings {
	float: right;
}

button {
	margin: 0 0 0 10px; 
}

